@media only screen and  (min-width : 300px) {
form div table{
	font-size:0.6em;
	font-weight:100;
}
.container{
	margin:2px 0px 2px 0px;
}
}
@media only screen and  (min-width : 424px){
form div table{
	font-size:0.7em;
	font-weight:100;
}
.container{
	margin:7px;
	border:2px solid black;
}
}
@media only screen and (min-width : 767px) {
form div table{
	font-size:0.8em;
}
.container{
	margin:50px;
	border:4px solid black;
}
}