body{
	background-image:url(./images/concrete4.jpg);
	color:#020500;
	font-size:1.5em;
}
h1{
	text-align:center;
}
form{
	text-align:center;
}
form input{
	width:35px;
}
form input[type="submit"]{
	width:160px;
	font-size:1em;
	background:#AEADBA;
	color:#020500;
	margin-bottom:60px;
}
form input[type="submit"]:hover{
	cursor:pointer;
	background:#2C2C30;
	color:#fff;
	
}
 form div {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top:30px;
    margin-bottom:30px;
	background-color:#AEADBA;
	
}
table{
	border-collapse: collapse;
}
canvas {
	display: table;
    margin-right: auto;
    margin-left: auto;
    background-color:#AEADBA; 
}
 .container{
	margin:60px;
	border:3px solid black;
	border-radius:10px;
	background-color:green;
}

.message{
	text-align: center;
	background-color:#AEADBA;
	border: 1px solid black;
	color: #b30000;
	font-size: 1em;
    font-weight: normal;
    margin: 5px;
}

form div table{
	font-size:1em;
	overflow-wrap: break-word;
}
span{
	font-weight: bolder;
	color: yellow;
	margin-right: 10px;
}
span:hover{
	color: #b30000;
	cursor: pointer;
}
.help{
	position:relative;
	display: inline-block;

}
.help .helptext{
	visibility: hidden;
	width: 180px;
	background-color:#AEADBA;
	color:#000;
	text-align: center;
	border: 1px solid black;
	border-radius: 6px;
	padding: 3px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    margin-left: -60px;
    font-size: 0.7em;
    font-weight: normal;
}
.help .helptext:after{
	content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.help:hover .helptext{
	visibility: visible;
}
true{
	display: hidden;
}